body{
  background-color: rgb(25, 25, 25);
  font-family: Arial;
  color: white;

}
.projectName{
  font-size: 28px;
  color: white;
  font-weight: bold;
}
.move-icon{
  height: 50px;

}
.moves-button{
  border:3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 20px;
 
  
 background-color: transparent;

}
.result{
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}

.auto-playbutton,
.reset-button{
  border: none;
  padding: 10px 10px;
  
  font-size: 15px;
  cursor: pointer;
  background-attachment: white;
  
  color: black;
}
.js-resetbutton-yes

{
  background-color: rgba(255, 0, 0, 0.516);
  height: 30px;
  columns: black;
  width: 50px;
  


}
.js-resetbutton-no{
  background-color:rgba(8, 207, 8, 0.619);
  height: 30px;
  columns: black;
  width: 50px;

}

